.preloader{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    transition: 2s;
    transition-timing-function: ease-in-out;
}
.loader{
    margin: auto 0;
    transform: translateY(-50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg,transparent,transparent 50%,#3dff02);
    animation: animate 1.3s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
.loader::before{
    content: "";
    position: absolute;
    top: 6px;
    bottom: 6px;
    right: 6px;
    left: 6px;
    background: #000;
    border-radius: 50%;
    z-index: 1000;
}
.loader::after{
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: linear-gradient(45deg,transparent,transparent 50%,#2bff01);
    border-radius: 50%;
    z-index: 1;
    filter: blur(30px);
}
.disppear{
    animation: vanish 1s forwards;
}
@keyframes vanish{
    100%{
        opacity: 0;
        display: none;
    }
}
