*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: #1B1B23; */
    background-color: #161623;
    overflow-x: hidden;
}
.top{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    top: 0px;
}
.logo{
    max-height: 120px;
    max-width: 120px;
}
.first{
    height: 85px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.1);
    width: 400px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left:1px solid rgba(255,255,255,0.5);
    background: rgba( 255, 255, 255, 0.10 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    transform: skewX(2px);
}
.second{
    height: 85px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.1);
    width: 400px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left:1px solid rgba(255,255,255,0.5);
    background: rgba( 255, 255, 255, 0.10 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
}
.main{
    height: 800px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed ;
    background-image: url(../photos/bg-openworld.7.jpg);
}
.clip{
    height: 370px;
    width: 70px;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
    box-shadow: -20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.1);
    /* border-left:1px solid rgba(255,255,255,0.5); */
    background: rgba( 255, 255, 255, 0.10 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    position: absolute;
    top: 180px;
    right: 0px;
    transition: 0.5s;
}
.clip:hover{
    box-shadow: -20px 20px 50px rgba(20, 36, 255, 0.349);
    border-left:0px;
}
/* .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}
.container .card{
    position: relative;
    width: 330px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:1px solid rgba(255,255,255,0.5);
    border-left:1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
} */


/* git init \\\make a file gitrelated
git add <filename>\\ add any file to folder
git push \\push to github 
git commit // create github
git status
git clone <link> clone a git project */